@use "fonts";

$title: #a0d4ff;
$body-text-colour: #e5f3ff;
$background: #313642;
$heading-font-family: "cantarellregular", helvetica, arial;
$body-font-family: helvetica, arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
