@use "fonts";

$title: #a0d4ff;
$body-text-colour: #e5f3ff;
$background: #313642;
$heading-font-family: "Laro Black Soft", sans-serif;
$body-font-family: "Poppins", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
